.jumbotron-extend {
    width: 100%;
    height: 250px;
    background-image: url('../img/welcome_bg01.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

